name: deploy-infrastructure
on:
  workflow_dispatch:
    inputs:
      internalOnly:
        description: 'Internal Only Environment'     
        required: true
        default: 'false'
permissions:
  id-token: write
  contents: read

jobs:
  deploy_infra:
    runs-on: ubuntu-latest
    name: Deploy
    steps:
    - uses: actions/checkout@v2
    - name: 'Az CLI login'
      uses: azure/login@v1
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: 'Run az commands'
      run: |
        az deployment group create -g ${{ secrets.RESOURCE_GROUP }} -f ./deploy/main.bicep \
          -p internalOnly=${{ github.event.inputs.internalOnly }}